body{
    background: linear-gradient(to right, rgb(22, 76, 158),rgb(76, 162, 212));
}

.search-box{
    background: white;
    height: 35px;
    width: 250px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 55%;

}

.user-profile{
    display: flex;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    color: black;
    transition: .2s;
}

.search-btn{
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    margin-left: -40px;
}

.cabecalho{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.corpo{
    height: fit-content;
    display: block;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5em;
    padding-bottom: 1em;
}
.oneImage{
    width: auto;
    height: 100%;
    display: block;
    justify-content: space-between;
}
.oneImage > div.image-body{
    height: auto;
    width: auto;
    background-color: #7BA8C2;
}
.oneImage > div.image-body > img{
    width: 100%;
    height: 100%;
}
.oneImage > div.text-box{
    background-color: #004AAD;
    width: 67%;
    height: 100%;
}
.oneImage > div.text-box > p{
    font-size: 2rem;
}

.button-configuration{
    width: 5%;
    height: 100%;
}
