body{
    background: linear-gradient(to right, rgb(22, 76, 158),rgb(76, 162, 212));
}

.search-box{
    background: white;
    height: 25px;
    width: 250px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.user-profile{
    display: flex;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    color: black;
    transition: .2s;
}

.search-btn{
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    margin-left: -40px;
}

.cabecalho{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.corpo{
    height: fit-content;
    display: block;
    justify-content: space-between;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5em;
    padding-bottom: 1em;
}
.post{
    width: 40em;
    height: 32em;
    background-color: #EAE3DC;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    padding-top: 2em;
}

.user_post{
    width: 20em;
    height: 3em;
    display: inline-flex;
}

.image_perfil{
    border-radius: 190px;
    width: 55px;
    height: 50px;
    margin-left: 1em;
}

.username{
    margin-left: 0.5em;
    font-family:Arial, Helvetica, sans-serif;
}

.tag_icon{
    width: 100px; 
    height: 40px;
    display: inline-flex;
    border: 1px solid red;
}

.arquivo_post{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.trabalho_exemplo{
    width: 35em;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
}

.legenda_post{
    margin-left: 3.5em;
    display: inline-flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.data_post{
    width: 50px;
    height: 20px;
    margin-left: 10em;
    text-align: center;
    display: inline-flex;
    color: grey;
    font-family:Arial, Helvetica, sans-serif;
}

.botoes{
    display: flex;
    justify-content: space-between;
}
.sair{
    width: 20px;
    height: 30px;
    display: flex;
    text-align: right;
}

.criar_novopost{
    width: 20px;
    height: 30px;
    display: flex;
    text-align: right;
}