<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cadastro.css">
    <title>cadastro</title>
</head>
<body>
<article class="main">

    <div class="box-image">
        <img src="../static/img/logoport.png" alt="logo">
    </div>

    <div class="img-user">
        <img src="../static/img/user.png" alt="user">
    </div>

    <div class="form">
        <input type="text" id="email" placeholder="Email">
        <input type="text" id="senha" placeholder="senha">
        <button>Entrar</button>
    </div>

</article>
</body>
</html>