<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastrar.css">
    <title>cadastro</title>
</head>
<body>
    <article class="main">

        <div class="box-image">
            <img src="../img/Email.png" alt="logo" width="1000" height="500">
        </div>

        <div class="form">

            <div class="img-user">
                <img src="../img/user.png" alt="user">
            </div>

            <input type="text" id="nome" placeholder="Nome">
            <input type="tel" id="telefone" placeholder="Telefone">
            <input type="text" id="email" placeholder="Email">
            <input type="password" id="password" placeholder="Digite sua Senha">
            <input type="password" id="senha" placeholder="Confirme sua Senha">

            <input class="button" onclick="location.href='./login'" name="enviar" value="Entrar">
           
        </div>

    </article>
</body>
</html>
