<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastrar.css">
    <title>cadastro</title>
</head>
<body>
    <article class="main">

        <div class="box-image">
            <img src="../img/logocerta.png" alt="logo" width="1000" height="500">
        </div>

        <div class="form">

            <div class="img-user">
                <img src="../img/user.png" alt="user">
            </div>

            <form th:action="@{/usuario/new}" method="POST" th:object="${usuario}">

                <input type="text" id="nome" placeholder="Nome" th:field="*{nome}" required>
                <input type="text" id="username" placeholder="Username" th:field="*{username}" required>
                <input type="tel" id="telefone" placeholder="Telefone" th:field="*{telefone}">
                <input type="text" id="email" placeholder="Email" th:field="*{email}">
                <input type="password" id="password" placeholder="Digite sua Senha" th:field="*{senha}">
                <br>
                <button type="submit">CADASTRAR</button>
                <!--<input class="button" onclick="location.href='./login'" name="enviar" value="Cadastrar">-->
            </form>
            </div>
    </article>


    <footer>
        @PortCompany
    </footer>
</body>
</html>
