<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/config.css">
    <title>Configurações</title>
</head>
<body>
    <article class="main">
            <div class="user-profile">
                <div class="img-profile">
                    <img src="../img/user.png" alt="Logo perfil">
                </div>
            </div>

            <div class="form">  
                <button id="desativar"> Desativar</button>
                <br>
                <button id="desativarP"> Desativar Permanentemente</button>
                <br>
                <a href="/login"></a><button id="sair"> Sair </button>
            </div>
    </article>
</body>
</html>