<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/config.css">
    <title>Configurações</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
      
    <article class="main">
        <div class="user-profile">
            <div class="img-profile">
                <img src="../img/user.png" alt="Logo perfil">
            </div>
        </div>
        
        <div class="form">
            <button id="desativar"> Desativar</button>
            <br>
            <button id="desativarP"> Desativar Permanentemente</button>
            <br>
            <a href="/login"></a><button id="sair"> Sair </button>
        </div>
    </article>

       <footer>
         @PortCompany
       </footer>


</body>

</html>