<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/criarpost.css">
    <title>criarpost</title>
</head>
<body>
    <article class="main">

        <div class="box-image">
            <img src="../img/Email.png" alt="logo" width="950" height="450">
        </div>

        <div class="form">

            <div class="img-user">
                <img src="../img/test.png" alt="user">
            </div>

            
            <input type="text" id="text" placeholder="Materia">
            <input type="text" id="text" placeholder="Nome Professor">
            <input type="text" id="text" placeholder="Data Atividade">
            <input type="text" id="text" placeholder="Descrição">

            <input class="button" type="submit" name="enviar" value="Publicar Post">
        </div>

    </article>
</body>
</html>