<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Home</title>
</head>

<body>
    <div class="cabecalho">
        <div class="user-profile">
            <div class="img-profile">
                <img src="../img/Email.png" alt="Logo perfil" width="300" height="160">
            </div>
        </div>
            <div class="search-box">
                <input type="text" class="search-txt" placeholder="Pesquisar">
                <a href="x" class="search-btn">
                    <img src="../img/lupa.png" alt="lupa" height="20" width="20">
                </a>
            </div>
    </div>
    <div class="corpo">
        <div class="post">
            <div class="user_post">
                <img src="../img/perfil_anna.jpg" alt="foto-perfil" class="image_perfil">
                <h3 class="username">@Anna_Berti</h3>

                <div class="tag_materia">
                    <img src="../img/icon_tag.ico" class="tag_icon" >
                    <p class="nome_tag"></p>
                </div>
            </div>
            <div class="arquivo_post">
                <img src="../img/trab_exemplo.PNG" class="trabalho_exemplo">
            </div>
            <div class="legenda_post">
                <p><b>Anna_Berti: </b> Da uma olhada no processo de criação do nosso app!</p>
                <div class="data_post">
                    <img src="" alt="">
                    <p>04/03/2022</p>
                </div>
            </div>
    </div>

    <div class="botoes">
        <div class="sair">
            <a href="../login"><img src="../img/sair.png"></a>
        </div>
        <div class="criar_novopost">
            <a href="../criarpost"><img src="../img/publicar.png" alt=""></a>
        </div>
    </div>

</body>
</html>