<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>Login</title>
</head>
<body>
    <article class="main">

        <div class="box-image">
            <img src="../img/Email.png" alt="logo" width="950" height="450">
        </div>

        <div class="form">

            <div class="img-user">
                <img src="../img/user.png" alt="user">
            </div>

            <input type="text" id="email" placeholder="Digite seu Email">
            <input type="password" id="senha" placeholder="Digite sua Senha">

            <input type="submit" name="enviar" value="Entrar">
        </div>

    </article>
</body>
</html>
