<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>cadastro</title>
</head>
<body>
    <article class="main">

        <div class="box-image">
            <img src="../static/img/logoport.png" alt="logo">
        </div>

        <div class="form">

            <div class="img-user">
                <img src="../static/img/user.png" alt="user">
            </div>

            <input type="text" id="email" placeholder="Digite seu Email">
            <input type="password" id="senha" placeholder="Digite sua Senha">

            <input type="submit" name="enviar" value="Enviar">
        </div>

    </article>
</body>
</html>
