<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/recuperarsenha.css">
    <title>Recuperar</title>
</head>
<body>
    <article class="main">

        <div class="box-image">
            <img src="../img/Email.png" alt="logo" width="950" height="450">
        </div>

        <div class="form">

            <div class="img-user">
                <img src="../img/cad.png" alt="bloqueado">
            </div>

            <input type="text" id="email" placeholder="Informe seu Email">
            <input type="password" id="senha" placeholder="Digite sua Senha">
            <input type="password" id="senha" placeholder="Confirme sua Senha">

            <input class="button" type="submit" name="enviar" value="Salvar">
        </div>

    </article>
</body>