<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/vizusuario.css">
    <title>Vizualizar Usuario</title>
</head>
<body>
    <article>
        <header>
            <div class="user-profile">
                <div class="img-profile">
                    <img src="../img/Email.png" alt="Logo perfil" width="950" height="450">
                </div>

                <h2>Usuario_tal</h2>
            </div>

            <div class="button-configuration">
                <a href="../config"><img src="../img/configu.png" alt="Imagem engrenagem"></a>
            </div>
        </header>

        <main>
            <div class="row-twoImage">
                <div class="oneImage">
                    <div class="image-body">
                        <img src="../img/test.png" alt="Imagem que esta no profile">
                    </div>
                    <div class="text-box">
                        <p>descrição</p>
                    </div>
                </div>

                <div class="oneImage">
                    <div class="image-body">
                        <img src="../img/test.png" alt="Imagem que esta no profile">
                    </div>
                    <div class="text-box">
                        <p>Loreeriam magni!</p>
                    </div>
                </div>
            </div>

            <div class="row-twoImage">
                <div class="oneImage">
                    <div class="image-body">
                        <img src="../img/test.png" alt="Imagem que esta no profile">
                    </div>
                    <div class="text-box">
                        <p>descrição</p>
                    </div>
                </div>

                <div class="oneImage">
                    <div class="image-body">
                        <img src="../img/test.png" alt="Imagem que esta no profile">
                    </div>
                    <div class="text-box">
                        <p>Loreeriam magni!</p>
                    </div>
                </div>
            </div>
        </main>
    </article>
</body>
</html>